/* 
  Your browse page will display a photo gallery with a description to the right of the image. The images must be at least 200 x 200 and the description must be 150 x 200. You must have at least 10 images with descriptions and they must line up in a grid pattern and be spaced equally. 
*/

.gallery {
  padding: 0 5rem;

  .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    gap: $spacing;

    .card {
      margin-bottom: 1rem;
      border-radius: $border-radius;
      background-color: white;
      display: flex;
      gap: $spacing;
      font-size: 0.65rem;

      img {
        border-radius: $border-radius;
        height: 200px;
        width: 200px;
      }

      .card-body {
        width: 150px;
        height: 200px;
        border-radius: $border-radius;
        padding: $spacing;
        display: flex;
        flex-direction: column;
        justify-content: center;

        overflow: hidden;

        .card-title {
          color: $brand-primary;
        }
      }
    }
  }
}
